line {
	zoom:1
}

.line:before,.line:after {
	content:" ";
	display:table;
}

.line:after {
clear:both
}

.unit {
	overflow:hidden;
	-moz-background-clip:padding-box !important;
	-webkit-background-clip:padding-box !important;
	background-clip:padding-box !important;
	float:left;
	padding-right: 1.5em;
}

.lastUnit {
	overflow:hidden;
	-moz-background-clip:padding-box !important;
	-webkit-background-clip:padding-box !important;
	background-clip:padding-box !important;
	float:left;
	float:none;
	width:auto;
	padding-right:0;
}

.size8of8 {
	width:100%;
}

.size7of8 {
	width:87.5%;
}

.size6of8 {
	width:75%;
}

.size5of8 {
	width:62.5%;
}

.size4of8 {
	width:50%;
}

.size3of8 {
	width:37.5%;
}

.size2of8 {
	width:25%;
}

.size1of8 {
	width:12.5%;
}

.size6of6{
	width:100%;
}

.size5of6{
	width:83.333333333333%;
}

.size4of6{
	width:66.666666666667%;
}

.size3of6{
	width:50%;
}

.size2of6{
	width:33.333333333333%;
}

.size1of6{
	width:16.666666666667%;
}

.size4of4 {
	width:100%;
}

.size3of4 {
	width:75%;
}

.size2of4 {
	width:50%;
}

.size1of4 {
	width:25%;
}

.size2of2 {
	width:100%;
}

.size1of2 {
	width:50%;
}

.size3of3 {
	width:100%;
}

.size2of3 {
	width:66.66666666666666%;
}

.size1of3 {
	width:33.33333333333333%;
}

.size1of1 {
	width:100%;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}