{{!< default}}

<header class="full-page" id="home-header">
    <div class="inner">
        <h1>Xin Xin</h1>
        <h2>Designer&ensp;/&ensp;Maker&ensp;/&ensp;Storyteller</h2>
        <a href="#projects" class="button"><span class="icon icon-down"></span></a>
    </div>
</header>

<section id="projects">
    <div class="backstretch-canvas">
    <div class="inner">
        <fieldset><legend align="center"><h1>Projects</h1></legend></fieldset>
        <table>
            <tr class="1">
                <td><a href="/panjiva"><h2>Panjiva</h2></a></td>
                <td><a href="/panjiva">Software for <span class="big-screen">efficent </span>global trade</a></td>
            </tr>
            </a>
            <tr class="2">
                <td><a href="/black-hat"><h2>Black Hat</h2></a></td>
                <td><a href="/black-hat"><span class="big-screen">2 player asynchronous </span><span class="cap-small-screen">v</span>irtual reality game</a></td>
            </tr>
            <tr class="3">
                <td><a href="/mcent"><h2>mCent</h2></a></td>
                <td><a href="/mcent"><span class="big-screen">International </span><span class="cap-small-screen">m</span>obile crowdsourcing</a></td>
            </tr>
            <tr class="4">
                <td><a href="/squeezicks"><h2>Squeezicks</h2></a></td>
                <td><a href="/squeezicks"><span class="big-screen">Boston </span>Museum<span class="big-screen"> of Science</span> installation</a></td>
            </tr>
            <tr class="5">
                <td><a href="/medlert"><h2>Medlert</h2></a></td>
                <td><a href="/medlert">Life-saving medical app<span class="big-screen"> for seniors</span></a></td>
            </tr>
            <tr class="6">
                <td><a href="/games"><h2>Games</h2></a></td>
                <td><a href="/games">Fun experiments<span class="big-screen"> in interactivity</span></a></td>
            </tr>
            <tr class="7">
                <td><a href="/motion"><h2>Motion</h2></a></td>
                <td><a href="/motion">Stories and animations</a></td>
            </tr>
            <tr class="8">
                <td><a href="/3d"><h2>3D</h2></a></td>
                <td><a href="/3d">Constructions</a></td>
            </tr>
            <tr class="9">
                <td><a href="/2d"><h2>2D</h2></a></td>
                <td><a href="/2d">Drawings and painting</a></td>
            </tr>
        </table>
    </div>
    </div>
</section>